[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/maxkiselev/.gitignore
  editor = /Users/maxkiselev/.local/bin/nvim
	pager = less -S
[mergetool "nvim"]
  cmd = nvim --merge -- %O %B %A %A
[merge]
  tool = /Users/maxkiselev/.local/bin/nvim
[color]
	ui = auto
[init]
	defaultBranch = main
[credential]
	helper = cache
[user]
	name = wtf403
	email = wtf403@yandex.ru
