alias copy="pbcopy"
alias fuck="fuck --yeah"
alias rc="nvim ~/.zshrc"
alias aliases="nvim ~/.zsh_aliases"
alias supervisord="supervisord -c ~/.config/supervisord/supervisord.conf"
alias desktop="cd ~/Desktop"
alias ls="lsd"
alias grep="rg"
alias find="fd"
alias sourcezsh="source ~/.config/zsh/.aliases; source ~/.config/zsh/.zprofile; source ~/.config/zsh/.zshrc"
alias cat='bat -p --theme=gruvbox-$(defaults read -g AppleInterfaceStyle &> /dev/null && echo dark || echo light)'
alias open='open -a Marta'

function "??" () {
    if [[ "$1" == *"git"* ]]; then
        echo "git"
        gh copilot suggest -t git "$@"
    elif [[ "$1" == *"github"* ]]; then
        echo "gh"
        gh copilot suggest -t gh "$@"
    else
        echo "shell"
        gh copilot suggest -t shell "$@"
    fi
}

function "?!" () {
    if [[ "$1" == *"git"* ]]; then
        gh copilot explain -t git "$@"
    elif [[ "$1" == *"github"* ]]; then
        gh copilot explain -t gh "$@"
    else
        gh copilot explain -t shell "$@"
    fi
}

alias maxkiselev="cd ~"
alias downloads="cd ~/Downloads"
alias documents="cd ~/Documents"
alias applications="cd /Applications"
alias desktop="cd ~/Desktop"
alias pictures="cd ~/Pictures"
alias trash="~/.Trash"


sudo () {
    unset -f sudo
    if [[ "$(uname)" == 'Darwin' ]]
    then
        if ! command grep 'pam_tid.so' /etc/pam.d/sudo --silent
        then
            command sudo sed -i -e '1s;^;auth       sufficient     pam_tid.so\n;' /etc/pam.d/sudo
        fi
        if ! command grep 'pam_reattach.so' /etc/pam.d/sudo --silent
        then
            command sudo sed -i -e '1s;^;auth     optional     pam_reattach.so\n;' /etc/pam.d/sudo
        fi
    fi
    command sudo "$@"
}


alias -s git="git clone"
alias ip="echo Your ip is; dig +short myip.opendns.com @resolver1.opendns.com;"
alias chrome='\open -a "/Applications/Google Chrome.app" --args --force-renderer-accessibility'
alias chromeDebug='chrome --remote-debugging-port=9222'
alias rsync="rsync --info=progress2"
alias crontab="EDITOR=/Users/maxkiselev/.asdf/shims/nvim crontab"

alias git-graph="viddy -t git-graph --color always"
alias git="/opt/homebrew/bin/git"  
alias pgcli="export EDITOR=nvim && pgcli"

alias vim="nvim"
alias watch="viddy --no-title"



alias stow="stow -vt ~ --ignore='^(\.git|\.DS_Store)$' "
alias tree="tree -a -I '.git|.DS_Store'"
alias mk="bonk"

### asdf ###

asdf () {
	if [[ $@ == "" ]]
	then
    /Users/maxkiselev/.asdf/bin/asdf list
	else
    /Users/maxkiselev/.asdf/bin/asdf $@
	fi
}


### trash ###
function del {
    if [[ "$@" == "." ]]; then
      D=${PWD##*/} && cd .. && command trash $D || cd $D
    else 
      command trash "$@"
    fi
}


function _del {
  local cur
  COMPREPLY=()
  cur="${COMP_WORDS[COMP_CWORD]}"
  case "${cur}" in
    .)
      COMPREPLY=('.')
      ;;
    *)
      COMPREPLY=($(compgen -f "${cur}"))
      ;;
  esac
}

complete -F _del del

### open ###



### brew ###

function brew {
    if [[ "$1" == "install" && "$2" != '' ]]; then
      shift
      command brew install $@
      command brew list > ~/.macos/.homebrew
    elif [[ "$1" == "uninstall" && "$2" != '' ]]; then
      shift
      command brew uninstall $@
      command brew list > ~/.macos/.homebrew
    else 
      command brew $@
    fi
}

function _brew {
    local cur prev
    cur="${COMP_WORDS[COMP_CWORD]}"
    prev="${COMP_WORDS[COMP_CWORD-1]}"
    case "${prev}" in
        install|uninstall)
            __brew_complete
            return
            ;;
        *)
            ;;
    esac
    COMPREPLY=($(compgen -W "$(brew commands)" -- "${cur}"))
}

function clear {
  file_count=$(ls -A "$HOME/.Trash" | grep -v '^\.DS_Store$' | wc -l)
  if [[ $(pwd) == "$HOME/.Trash" ]] && [[ $file_count -ne 0 ]]; then
    rm -rf "$HOME/.Trash"/*
    printf "\n"
  else
   command clear
  fi
}

complete -F _brew brew

if command -v ngrok &>/dev/null; then
    eval "$(ngrok completion)"
fi
