#workbench\.parts\.editor
  > div.content
  > div
  > div
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div
  > div
  > div.title.tabs.title-border-bottom
  > div.tabs-and-actions-container.tabs-border-bottom
  > div.monaco-scrollable-element.mac
  > div.tabs-container
  > div:first-child {
  border-left: 1px solid black;
  margin-left: -1px;
}

#workbench\.parts\.editor
  > div.content
  > div
  > div
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div
  > div
  > div.title.tabs.title-border-bottom
  > div.tabs-and-actions-container.tabs-border-bottom
  > div.monaco-scrollable-element.mac {
  overflow: visible !important;
}

#workbench\.parts\.editor
  > div.content
  > div
  > div
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div
  > div
  > div.title.tabs.title-border-bottom
  > div.tabs-and-actions-container.tabs-border-bottom
  > div.monaco-scrollable-element.mac
  > div {
  overflow: visible !important;
}

div[aria-label="remote"] {
  border-right: 1px solid black;
}

body.activity-bar-at-bottom:not(.status-bar-at-top)
  .monaco-workbench
  .part.statusbar {
  height: 100% !important;
}

#workbench\.parts\.editor
  > div.content
  > div
  > div
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div
  > div
  > div.editor-container
  > div
  > div
  > div.overflow-guard
  > div.scroll-decoration {
  box-shadow: unset;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title.title-border-bottom:after {
  height: 0.9px;
}

