[data-location*="duckduckgo.com"] [data-testid="mainline"] {
  max-width: 100ch !important;
}

[data-location*="youtube.com"] {
  [title="Shorts"] {
    display: none;
  }

  .ytd-rich-section-renderer:has(#dismissible) {
    display: none;
  }
}

#items > ytd-guide-entry-renderer:nth-child(2) {
  display: none;
}

.ytd-guide-entry-renderer {
  display: none;
}
