[data-location*="duckduckgo.com"] {
  [data-testid="mainline"] {
    max-width: 100ch !important;
  }
}

[data-location*="youtube.com"] {
  [title="Shorts"] {
    display: none !important;
  }

  .ytd-rich-section-renderer:has(#dismissible) {
    display: none;
  }
}

[data-location*="app.smalltalk2.me"] {
  #app > div > div > div:nth-child(2) > footer {
    display: none !important;
  }
}

[data-location*="youtube.com"] {
  body::-webkit-scrollbar {
    display: none;
  }
}
